.calculatorContainer {
  width: 40%;
  position: absolute;
  top: 20%;
  left: 30%;
}

.calculatorResult {
  text-align: right;
  height: 6vh;
  background-color: rgb(83, 83, 83);
  color: #fff;
  font-size: 50px;
  font-weight: 900;
  padding: 10px 20px 0;
}

.calculatorButtonsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 9fr 3fr;
}

.numbersGroup {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.numbersGroup:last-child {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

button {
  border: 1px solid rgb(203, 203, 203);
  height: 6vh;
  font-size: 15px;
}

.button {
  width: 100%;
  cursor: pointer;
  font-size: 15px;
}

.operatorsGroup > button {
  background-color: rgb(246, 123, 0);
}
